@font-face {
    font-family: Futura;
    src: url(./Futura-Bold.ttf);
}

@font-face {
    font-family: Gilroy;
    src: url(./Gilroy-Medium.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

*::selection {
    color: #fff;
    background-color: #000;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #F7F7F7;
}

#nav {
    /* height: 100px; */
    width: 100%;
    /* background-color: burlywood; */
    position: fixed;
    z-index: 99;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 25px;
}

#nav #nav-part2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

#links {
    padding: 10px;
}

#nav-part1 {
    /* background-color: RED; */
    height: 82px;
    overflow: hidden;
}

#nav-part1 svg {
    display: block;
}

#nav-part2 #links a {
    text-transform: uppercase;

    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 14px;
    margin: 0 20px;
}

#icons {
    padding: 10px;
    border-radius: 50px;
    background-color: #F7F7F7;
}

#nav-part2 #icons i {
    font-size: 18px;
    margin: 0 20px;
    font-weight: 100;
}

#cursor {
    height: 180px;
    width: 180px;
    background-color: rgba(224, 139, 189, 0.814);
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%, -50%) scale(0);

}

#page1 {
    min-height: 100vh;
    /* background-color: aqua; */
    position: relative;
    width: 100%;
    padding: 0 1vw;
    padding-top: 20vh;

}

#page1 h1 {
    font-size: 15.8vw;
    text-transform: uppercase;
    font-family: futura;
    line-height: 14vw;
    letter-spacing: -8px;
}

#video-container {
    height: 100vh;
    width: 100%;
    background-color: grey;
    margin-top: 1vw;
    position: relative;
}

#video-container video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#video-container #play {
    padding: 3vw 2.2vw;
    background-color: black;
    color: #fff;
    font-size: 1.3vw;
    position: fixed;
    text-transform: uppercase;
    font-family: futura;
    border-radius: 50%;
    opacity: 0;
    scale: 0;

}

#page2 {

    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 3vw 1vw;
    justify-content: space-between;
}

#page2 .elem {
    height: 100%;
    width: 31%;
    /* background-color: red; */
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page2 .elem img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.1;
}

#page2 .elem .dets {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border-radius: 50px;
    width: 70%;
    position: absolute;
    z-index: 9;
    background-color: rgb(229, 156, 186);


}

#page3 {
    min-height: 120vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.child {
    height: 54vh;
    width: 38vw;
    /* background-color: red; */
    /* border: 2px solid #000; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.child img {
    height: 100%;
}


@media (max-width:600px) {

    #nav {
        /* height: 100px; */
        width: 100%;
        /* background-color: burlywood; */
        position: fixed;
        z-index: 99;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 15px;
    }

    #nav #nav-part2 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }

    #links {
        padding: 10px;
        display: none;
    }

    #nav-part1 {
        /* background-color: RED; */
        height: 67px;
        overflow: hidden;
    }

    #nav-part1 svg {
        display: block;
        height: 67px;
        width: 80px;
    }

    #nav #twogoodlogo {
        height: 40px;
        margin-left: -20px;
    }

    #icons {
        padding: 7px;
        border-radius: 50px;
        background-color: #F7F7F7;
    }

    #nav-part2 #icons i {
        font-size: 15px;
        margin: 0 20px;
        font-weight: 100;
    }

    #page1 {
        /* background-color: red; */
        min-height: 70vh;
        width: 100%;
        padding: 0 3vw;
        padding-top: 25vh;

    }

    #page1 h1 {
        font-size: 15.5vw;
        letter-spacing: -3px;
    }

    #video-container {
        height: 25vh;
        margin-top: 3vw;
    }

    #video-container #play {
        padding: 9.5vw 7.2vw;
        font-size: 4.5vw;
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 1;
        scale: 1;
        transform: translate(-50%, -50%);
    }

    #page2 {
        min-height: 100vh;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        padding: 5vw 3vw;
        flex-direction: column;
        justify-content: space-between;
        /* background-color: red; */
    }

    #page2 .elem {
        height: 100vh;
        width: 100%;
        /* background-color: red; */
        overflow: hidden;
        margin-bottom: 3vw;
    }

    #page2 .elem .dets {
        height: 40px;
        border-radius: 50px;
        width: 70%;
        position: absolute;
        z-index: 9;
        background-color: rgb(229, 156, 186);

    }

    #page3 {
        min-height: 120vh;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .child {
        height: 54vh;
        width: 88vw;
        /* background-color: red; */
        /* border: 2px solid #000; */
        position: relative;
        padding: 15vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .child img {
        height: 100%;
    }

}

/* -------------------------------------------------------------- */

body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #fff;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #111;
    color: #f0f0f0;
    padding: 30px;
}

.footer-container {
    display: flex;
    flex-direction: row;


    margin: auto;
    display: flex;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}

.footer-brand h2 {
    margin: 0;
    font-size: 1.8em;
}

.footer-brand p {
    font-size: 0.95em;
    margin-top: 8px;
    color: #ccc;
}

.footer-links {
    width: 100%;

    display: flex;

    align-items: flex-start;
    justify-content: space-between;
    padding: 20px 0;
    gap: 30px;
    flex-direction: row;
    justify-content: space-between;
    ;
    gap: 15px;
}

.footer-links h4 {
    margin-bottom: 10px;
    font-size: 1.1em;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li a {
    color: #ccc;
    text-decoration: none;
    display: block;
    margin-bottom: 8px;
    transition: color 0.3s ease;
}

.footer-links ul li a:hover {
    color: #fff;
}

.footer-contact p {
    font-size: 0.95em;
    color: #bbb;
    margin: 5px 0;
}

.footer-social {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;



    gap: 15px;

}

.footer-social a {
    color: #ccc;
    text-decoration: none;
    font-size: 0.95em;
    transition: color 0.3s;
}

.footer-social a:hover {
    color: #fff;
}

.footer-bottom {
    grid-column: 1 / -1;
    text-align: center;
    margin-top: 20px;
    font-size: 0.85em;
    color: #888;
}
